.box-sizing(@prop) {
  -webkit-box-sizing: @prop;
  -moz-box-sizing: @prop;
  box-sizing: @prop;
}

.transition(@prop) {
  -webkit-transition: @prop;
  -moz-transition: @prop;
  -o-transition: @prop;
  transition: @prop;
}

html, body {
  background: #333;
  color: white;
  padding: 0;
  margin: 0;
}

body {
}

#content {
  background: -moz-linear-gradient(center top , #555555, #333333) repeat scroll 0 0 transparent;
  min-height: 200px;
  padding: 10px;
}

header {
  text-align: center;
}

footer {

}
#pages {
  position: relative;
  width: 800px;
  margin: 20px auto;
  &.transitionStarted {
    .page {
      .transition(2s);
      .caption {
        .transition(opacity 0.5s);
      }
    }

  }
  .page {
    position: absolute;
    top: 0;
    left: 0;
    .caption {
      position: absolute;
      bottom: 0.4em;
      left: 0;
      font-size: 0.8em;
      padding: 5px;
      width: 100%;
      .box-sizing(border-box);
      background: white;
      color: black;
      opacity: 0.8;
    }
    &:hover {
      .caption {
        opacity: 0;
      }
    }
  }
}

