.box-sizing(@prop) {
  -webkit-box-sizing: @prop;
  -moz-box-sizing: @prop;
  box-sizing: @prop;
}

.transition(@prop) {
  -webkit-transition: @prop;
  -moz-transition: @prop;
  -o-transition: @prop;
  transition: @prop;
}

.transition-delay(@prop) {
  -webkit-transition-delay: @prop;
  -moz-transition-delay: @prop;
  -o-transition-delay: @prop;
  transition-delay: @prop;
}

.transition-duration(@prop) {
  -webkit-transition-duration: @prop;
  -moz-transition-duration: @prop;
  -o-transition-duration: @prop;
  transition-duration: @prop;
}

.transform(@prop) {
  -webkit-transform: @prop;
  -moz-transform: @prop;
  -o-transform: @prop;
  transform: @prop;
}

html, body {
  background: #333;
  color: white;
  padding: 0;
  margin: 0;
}

body {
}

#content {
  background: -moz-linear-gradient(center top , #555555, #333333) repeat scroll 0 0 transparent;
  min-height: 200px;
  padding: 10px;
}

header {
  text-align: center;
  line-height: 3em;
  h1 {
    font-size: 3em;
    padding: 0;
    margin: 0;
    display: inline;
  }
  .hackernews {
    font-size: 20px;
    background: #ff6600;
    padding: 2px 5px;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-right: 15px;
    vertical-align: top;
    text-decoration: none;
  }
}

body.feedLoading {
  .hackernews {
    -webkit-animation: loading 1s infinite;
    -moz-animation: loading 1s infinite;
    -o-animation: loading 1s infinite;
    animation: loading 1s infinite;
  }
}

h1, h2, h3 {
  font-family: 'Black Ops One', cursive;
  font-weight: normal;
}
footer {

}
#pages {
  position: relative;
  width: 100%;
  margin: 20px auto;
  &.transitionStarted {
    .page {
      .transition(2s);
      &.removing, &.newNode {
        -moz-transform: scale(0);
      }
    }

  }
  .page {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    overflow: hidden;
    img {
      width: 100%;
    }
    .transform(scale(0.95));
    .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 0.8em;
      padding: 5px;
      width: 100%;
      .box-sizing(border-box);
      background: white;
      color: black;
      opacity: 0;
    }
    &:hover {
      .caption {
        opacity: 1;
      }
    }
    a&:visited {
      opacity: 0.5;
    }
  }
}

