html, body {
  background: #333;
  color: white;
  padding: 0;
  margin: 0;
}

body {
}

#content {
  background: -moz-linear-gradient(center top , #555555, #333333) repeat scroll 0 0 transparent;
  min-height: 200px;
  padding: 10px;
}

header {
  text-align: center;
}

footer {

}

#pages {
  position: relative;
  width: 1000px;
  margin: 20px auto;
  .page {
    position: absolute;
    top: 0;
    left: 0;
  }
}

